html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #493621;
  width: 100%;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

section {
  margin: 0.75rem 1.75rem;
}

.recipe-img {
  max-width: 100%;
}

section h1 {
  font-size: 2.5rem;
  color: black;
}

section h2 {
  color: #8b5c2a;
}

.pink-background {
  background-color: rgb(253, 231, 235);
  border-radius: 0.5rem;
  padding: 1rem;
}

.pink-background h3 {
  color: rgb(104, 0, 104);
}

.pink-background ul {
  padding-left: 0;
  margin-left: 1.5rem;
}

section li,
section p {
  line-height: 1.7rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  border-bottom: 0.2px solid #493621;
}

table tr td {
  padding: 0.75rem;
}

table tr td:nth-child(2) {
  color: #8b5c2a;
  font-weight: bold;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: #000;
  text-decoration: none;
}

/* Bigger Screens */
@media (min-width: 768px) {
  .recipe-img {
    padding: 1.25rem;
    box-sizing: border-box;
  }
  table {
    width: 90%;
  }
}
